<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
    <style>
        h1{
            color: rgb(245, 17, 17);
            text-align: center;
        }
        button{
            padding: 20px 20px;
            margin-left: 45%;
            background-color: aqua;
            color: #b976a5;
        }
    </style>
</head>
<body>
    <h1>hello i am sanket...</h1>

   <a href="/register" class="btn">ADD USER</a>

</body>
</html>




